@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6krbhl");
  src: url("../fonts/icomoon.eot?6krbhl#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6krbhl") format("truetype"), url("../fonts/icomoon.woff?6krbhl") format("woff"), url("../fonts/icomoon.svg?6krbhl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-trophy:before {
  content: "\e99e"; }

.icon-leaf:before {
  content: "\e9a4"; }

.icon-rocket:before {
  content: "\e9a5"; }

.icon-briefcase:before {
  content: "\e9ae"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-vimeo:before {
  content: "\eaa0"; }

.icon-tumblr:before {
  content: "\eab9"; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  color: #ffffff;
  font-weight: 300;
  font-size: 5rem; }

h3 {
  width: 100%;
  text-align: center;
  margin-top: 0;
  font-size: 2.2rem; }
  h3:first-letter {
    color: #dca453; }

.column {
  width: 48%;
  text-align: center;
  margin-top: 25px; }

section {
  padding: 85px 0; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.align-center {
  align-items: center; }

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

header {
  position: relative; }

.main-banner {
  display: block;
  width: 100%; }

header nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px 0;
  z-index: 999; }
  header nav ul.navigation {
    margin: 0;
    padding: 0;
    display: flex; }
    header nav ul.navigation li {
      padding-right: 0; }
    header nav ul.navigation a {
      display: block;
      color: #ffffff;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0 16px;
      position: relative; }
      header nav ul.navigation a::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 0;
        background-color: white;
        opacity: 0;
        transition: all 0.3 ease; }
    header nav ul.navigation a::hover::after {
      width: 100%;
      opacity: 1; }

.logo {
  color: white;
  width: 60px;
  height: 60px;
  font-size: 26px;
  text-decoration: none;
  border: solid 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

.header-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff; }
  .header-text .arrow {
    display: inline-block;
    border: 3px solid white;
    padding: 20px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    cursor: pointer;
    transition: opacity 0.3s ease; }
    .header-text .arrow:hover {
      opacity: 0.7; }

.pulsate {
  animation: pulsate 3s ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.3; }

@keyframes pulsate {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.3; } }
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  .gallery li {
    position: relative;
    overflow: hidden;
    width: 20%;
    cursor: pointer; }
    .gallery li:hover {
      transform: scale(1.1);
      z-index: 5; }
    .gallery li img {
      display: block;
      position: relative;
      width: 100%;
      transition: all 3s ease-in-out; }

.gallery li:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.gallery li:hover:after {
  width: 0;
  height: 0; }

footer {
  padding: 10px 0;
  background-color: #444; }
  footer .logo {
    width: 45px;
    height: 45px;
    font-size: 1.1rem; }
  footer .social-icons {
    display: flex; }
    footer .social-icons li {
      margin-left: 15px; }
      footer .social-icons li i {
        color: #fff;
        opacity: 0.3;
        display: flex;
        transition: opacity 0.3s ease; }
        footer .social-icons li i:hover {
          opacity: 0.7; }

.about .column {
  width: 48%;
  text-align: center;
  margin-top: 15px; }

[class^="icon-"] {
  font-size: 3.1rem;
  color: #dca453; }

.testimonials .testimonials-container {
  max-width: 500px;
  position: relative; }
  .testimonials .testimonials-container ul {
    display: flex;
    padding: 0;
    overflow: hidden; }
    .testimonials .testimonials-container ul li {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .testimonials .testimonials-container ul li .user-data {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .testimonials .testimonials-container ul li .user-data img {
          max-width: 130px;
          border-radius: 50%; }
        .testimonials .testimonials-container ul li .user-data .user-name {
          display: block;
          margin: 15px 0; }
        .testimonials .testimonials-container ul li .user-data p {
          font-style: italic;
          font-size: 20px;
          color: #cccccc;
          text-align: center; }
.testimonials .arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  border: 3px solid #eeeeee;
  padding: 20px;
  border-width: 0 3px 3px 0;
  cursor: pointer;
  transition: opacity 0.3s ease; }
  .testimonials .arrow-left {
    transform: rotate(135deg);
    right: 120%; }
  .testimonials .arrow-right {
    transform: rotate(-45deg);
    left: 120%; }
  .testimonials .arrow:hover {
    border-color: #dca453; }

.contact {
  background: #f8f8f8; }
  .contact form {
    max-width: 500px;
    margin: 0 auto; }
    .contact form::input-placeholder {
      font-style: italic;
      color: #eeeeee; }
    .contact form textarea {
      height: 100px;
      resize: none; }
    .contact form input[type="submit"] {
      border: none;
      margin-top: 20px;
      padding: 10px 30px;
      color: #fff;
      background-color: #dca352;
      box-shadow: inset 0 -3px 0 0 #c79652;
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease; }
      .contact form input[type="submit"]::hover {
        color: #f5f5f5;
        box-shadow: inset 0 -3 0 0 #a27c47; }
    .contact form input:not([type="submit"]), .contact form textarea {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      border: solid 1px #ccc;
      font-size: 14px;
      box-sizing: border-box;
      outline: none; }

/*# sourceMappingURL=main.css.map */
